name: test

on:
  repository_dispatch:
    types: [ok-to-test-command]
jobs:
  ptint-inputs:
    runs-on: ubuntu-latest
    steps:
      - name: print inputs
        run: |
          echo 'github.event.client_payload: ${{ github.event.client_payload }}'
          echo 'github.event.client_payload.pull_request.head.sha: ${{ github.event.client_payload.pull_request.head.sha }}'
          echo 'github.event.client_payload.slash_command.args.named.sha: ${{ github.event.client_payload.slash_command.args.named.sha }}'
          echo 'github.event.client_payload.pull_request.number: ${{ github.event.client_payload.pull_request.number }}'
